@font-face {
    font-family: 'Archia';
    src: url('Archia-Regular.woff2') format('woff2'),
        url('Archia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

